.data_content {
    /*overflow-x: hidden;*/
    min-width: 1366px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.data_content .data_time {
    width: 340px;
    height: 35px;
    background-color: #2C58A6;
    line-height: 35px;
    color: #fff;
    font-size: 12.8px;
    position: relative;
    margin-bottom: 25px;
    margin-left: 20px;
    text-align: center;
}

.data_content .data_time img {
    position: absolute;
    top: 8px;
    left: 15px;
}


.data_content .data_main {
    width: calc(100% - 40px);
    margin-bottom: 40px;
    height: 615px;
    margin-left: 20px;
}

.data_content .data_main .main_left {
    width: 24%;
}

.data_content .data_main .main_left>div {
    width: 100%;
    height: 280px;
    box-sizing: border-box;
    border: 1px solid #2C58A6;
    position: relative;
    box-shadow: 0 0 10px #2C58A6;
}

.data_content .data_main .main_left div:nth-child(1) {
    margin-bottom: 50px;
}

.data_content .data_main .main_left div .main_title {
    width: 180px;
    height: 35px;
    line-height: 33px;
    background-color: #2C58A6;
    border-radius: 18px;
    position: absolute;
    top: -17px;
    left: 50%;
    margin-left: -90px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    padding-left: 45px;
    z-index: 1000;
}

.data_content .data_main .main_left div .main_title img {
    position: absolute;
    top: 8px;
    left: 20px;
}


.data_content .data_main .main_center {
    width: 76%;
    height: 610px;

}

.data_content .data_main .main_center .center_text {
    width: calc(100% - 50px);
    height: 610px;
    margin-left: 25px;
    margin-right: 25px;
    box-sizing: border-box;
    border: 1px solid #2C58A6;
    box-shadow: 0px 0px 6px #2C58A6;
    position: relative;
}

.l_t_line {
    width: 5px;
    height: 24px;
    left: -3px;
    top: -3px;
}

.t_l_line {
    height: 5px;
    width: 26px;
    left: -3px;
    top: -3px;
}

.t_line_box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.t_line_box i {
    background-color: #4788fb;
    box-shadow: 0px 0px 10px #4788fb;
    position: absolute;
}

.t_r_line {
    height: 5px;
    width: 26px;
    right: -3px;
    top: -3px;
}

.r_t_line {
    width: 5px;
    height: 24px;
    right: -3px;
    top: -3px;
}

.l_b_line {
    width: 5px;
    height: 24px;
    left: -3px;
    bottom: -3px;
}

.b_l_line {
    height: 5px;
    width: 26px;
    left: -3px;
    bottom: -3px;
}

.r_b_line {
    width: 5px;
    height: 24px;
    right: -3px;
    bottom: -3px;
}

.b_r_line {
    height: 5px;
    width: 26px;
    right: -3px;
    bottom: -3px;
}

.data_content .data_main .main_center .main_title {
    width: 190px;
    height: 35px;
    line-height: 33px;
    background-color: #2C58A6;
    border-radius: 18px;
    position: absolute;
    top: -17px;
    left: 50%;
    margin-left: -90px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    padding-left: 45px;
    z-index: 1000;
}

.data_content .data_main .main_center .main_title img {
    position: absolute;
    top: 8px;
    left: 20px;
}

.t_btn8,
.t_btn2,
.t_btn3 {
    position: relative;
    z-index: 100;
    cursor: pointer;
}

@font-face {
    font-family: Lato;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/176026/ProximaNova-Regular.otf);
    font-weight: 300;
}

body,
html {
    font-family: Lato;
}

h1 {
    font-size: 28px;
    line-height: 40px;
    margin-top: 20px;
}

h1 a {
    text-decoration: none;
    color: #48c15e;
}

h1 p {
    font-size: 22px;
}

#grid {
    -moz-transform: translate(1px, 0px);
    -ms-transform: translate(1px, 0px);
    -webkit-transform: translate(1px, 0px);
    transform: translate(1px, 0px);
}

/* GRAPH - 1 */
#graph-1 {
    stroke: url(#gradient-1);
    stroke-width: 1.5;
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
    -moz-animation: lineani 1.3s linear forwards;
    -webkit-animation: lineani 1.3s linear forwards;
    animation: lineani 1.3s linear forwards;
}

#graph-2 {
    stroke: url(#gradient-2);
    stroke-width: 1.5;
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
    -moz-animation: lineani 1.3s linear forwards;
    -webkit-animation: lineani 1.3s linear forwards;
    animation: lineani 1.3s linear forwards;
}

#poly-1 {
    fill: url(#gradient-3);
}

#poly-2 {
    fill: url(#gradient-4);
}

@-moz-keyframes lineani {
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes lineani {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes lineani {
    to {
        stroke-dashoffset: 0;
    }
}

.underlay {
    stroke-width: 5;
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #24303a;
}

#circle-graph-1 {
    stroke: url(#gradient-1);
    stroke-width: 5;
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.chart-circle {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#circle-graph-2 {
    stroke: url(#gradient-2);
    stroke-width: 5;
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
}

body {
    background-color: #24303a;
    color: white;
    text-align: center;
}

.charts-container {
    padding: 0px;
    width: 100%;
    max-width: 1024px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.chart {
    color: #4a667a;
    width: 100%;
    text-align: left;
    position: relative;
    height: 100%;
    background-color: #1e2730;
    display: inline-block;
    float: left;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px 10px 10px 10px;
}

.chart.circle {
    padding: 15px 20px 40px 20px;
}

@media screen and (max-width: 700px) {
    .chart {
        width: calc(100% - 20px);
    }
}

@media screen and (min-width: 700px) {
    .chart {
        width: calc(100% - 20px);
    }
}

.title {
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.chart-svg {
    position: relative;
}


@media screen and (max-width: 480px) {
    .circle-percentage {
        font-size: 32px;
    }
}

.align-center {
    text-align: center;
}

.chart-line {
    width: 100%;
    height: 100%;
}

.valueX {
    font-size: 14px;
}

.chart-values {
    text-align: right;
    font-size: 18px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0px;
}

.h-value {
    -moz-transition: 700ms ease-in-out;
    -o-transition: 700ms ease-in-out;
    -webkit-transition: 700ms ease-in-out;
    transition: 700ms ease-in-out;
    opacity: 0;
}

.h-value.visible {
    opacity: 1;
}

.percentage-value {
    -moz-transition: 700ms ease-in-out;
    -o-transition: 700ms ease-in-out;
    -webkit-transition: 700ms ease-in-out;
    transition: 700ms ease-in-out;
    color: #48c15e;
    margin-top: 2px;
    opacity: 0;
}

.percentage-value.negative {
    color: #ef6670;
}

.percentage-value.visible {
    opacity: 1;
}

.total-gain {
    color: white;
    font-size: 10px;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 28px 0 0 28px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.triangle.red {
    border-color: transparent transparent transparent #ef6670;
}


.original {
    color: #ef6670;
    font-size: 14px;
}