<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="refresh" content="3;url={{ url_for('index') }}"> -->
    <title>疫苗运输服务平台</title>
    <!-- <link href="/static/css/bootstrap.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery-2.2.1.min.js"></script>
    <!-- <script src="/static/js/bootstrap.min.js"></script> -->
    <!-- <script src="/static/js/common.js"></script> -->
    <script src="/static/js/modernizr.js"></script>
    <!-- <script src='/static/js/jquery.js'></script> -->
    <!-- <script src="/static/js/dataTool.js"></script> -->
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=p348z9PLodkFiZlPPUm7TzQlUAylqueb"></script>
    <script type="text/javascript" src="//api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>
    <!-- <script src="/static/js/hunan.js"></script> -->




    <style>
        .t_title {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 2.5em;
            line-height: 80px;
            color: #fff;
        }

        #chart_map {
            cursor: pointer;
        }

        .t_show {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 2px;
            background: #2C58A6;
            padding: 2px 5px;
            color: #fff;
            cursor: pointer;
        }
    </style>
</head>

<body>

    <!--header-->
    <div class="header">
        <div class="bg_header">
            <div class="header_nav fl t_title">
                疫苗运输服务平台
            </div>
        </div>
    </div>

    <!--main-->
    <div class="data_content">
        <div class="data_main">
            <div class="main_left fl">
                <div class="left_1 t_btn6" style="cursor: pointer;">
                    <!--左上边框-->
                    <div class="t_line_box">
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                    </div>
                    <!--右上边框-->
                    <div class="t_line_box">
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                    </div>
                    <!--左下边框-->
                    <div class="t_line_box">
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                    </div>
                    <!--右下边框-->
                    <div class="t_line_box">
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>
                    <div class="main_title">
                        <img src="/static/img/t_1.png" alt="">
                        温度图
                    </div>
                    <div id="chart_1" class="chart" style="width:100%;height: 280px;">
                        <div class="chart" id="graph-2-container">
                            <h2 class="title" id='tempo'>temperature</h2>
                            <div class="chart-svg">
                                <svg class="chart-line" id="chart-2" viewBox="0 0 80 40">
                                    <defs>
                                        <clipPath id="clip" x="0" y="0" width="80" height="40">
                                            <rect id="clip-rect" x="-80" y="0" width="77" height="38.7" />
                                        </clipPath>
                                        <linearGradient id="gradient-1">
                                            <stop offset="0" stop-color="#00d5bd" />
                                            <stop offset="100" stop-color="#24c1ed" />
                                        </linearGradient>

                                        <linearGradient id="gradient-2">
                                            <stop offset="0" stop-color="#954ce9" />
                                            <stop offset="0.3" stop-color="#954ce9" />
                                            <stop offset="0.6" stop-color="#24c1ed" />
                                            <stop offset="1" stop-color="#24c1ed" />
                                        </linearGradient>

                                        <linearGradient id="gradient-3" x1="0%" y1="0%" x2="0%" y2="100%">>
                                            <stop offset="0" stop-color="rgba(0, 213, 189, 1)" stop-opacity="0.07" />
                                            <stop offset="0.5" stop-color="rgba(0, 213, 189, 1)" stop-opacity="0.13" />
                                            <stop offset="1" stop-color="rgba(0, 213, 189, 1)" stop-opacity="0" />
                                        </linearGradient>

                                        <linearGradient id="gradient-4" x1="0%" y1="0%" x2="0%" y2="100%">>
                                            <stop offset="0" stop-color="rgba(149, 76, 233, 1)" stop-opacity="0.07" />
                                            <stop offset="0.5" stop-color="rgba(149, 76, 233, 1)" stop-opacity="0.13" />
                                            <stop offset="1" stop-color="rgba(149, 76, 233, 1)" stop-opacity="0" />
                                        </linearGradient>

                                </svg>
                            </div>
                            <div class="chart-values">
                                <p class="h-value"></p>
                                <p class="percentage-value"></p>
                                <p class="total-gain"></p>
                            </div>
                            <div class="triangle red"></div>
                        </div>
                    </div>
                </div>
                <div class="left_2" style="cursor: pointer;">
                    <!--左上边框-->
                    <div class="t_line_box">
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                    </div>
                    <!--右上边框-->
                    <div class="t_line_box">
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                    </div>
                    <!--左下边框-->
                    <div class="t_line_box">
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                    </div>
                    <!--右下边框-->
                    <div class="t_line_box">
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>
                    <div class="main_title">
                        <img src="/static/img/t_2.png" alt="">
                        查询
                    </div>
                    <div id="chart_2" class="chart t_btn9" style="width:100%;height: 280px;">
                        <form action="javascript:search()" method="post" id="search" class="input_node">
                            id:<input type="text" name="bookName" id="bookName" value="" />
                            <input type="submit" style="cursor: pointer;" value="查询" />
                            <input type="hidden" name="pageindex" id="pageindex" value="1" />
                        </form>
                        <table id="tt" class="divForm" style="table-layout: fixed;">
                            <tr style="background-color:black">
                                <td>温度</td>
                                <td>经度</td>
                                <td>纬度</td>
                                <td>状态</td>
                                <td>时间</td>
                            </tr>

                        </table>

                    </div>

                </div>
            </div>
            <div class="main_center fl">
                <div class="center_text">
                    <!--左上边框-->
                    <div class="t_line_box">
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                    </div>
                    <!--右上边框-->
                    <div class="t_line_box">
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                    </div>
                    <!--左下边框-->
                    <div class="t_line_box">
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                    </div>
                    <!--右下边框-->
                    <div class="t_line_box">
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>
                    <div class="main_title">
                        <img src="/static/img/t_3.png" alt="">
                        疫苗线路图
                    </div>
                    <div style="width:100%;height:100%;border:1px solid gray" id="container"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center;">
        <p>更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
    </div>

    <script src='/static/js/snap.svg-min.js'></script>
    <script src="/static/js/index.js"></script>
</body>

</html>

<script>
    var process;
    var timeee = 0;
    var parent = document.getElementById("chart-2");
    var son = document.getElementById("grid");

    function search() {
        var r = $("#bookName").val();
        window.clearInterval(process);
        var map = new BMap.Map("container");
        map.centerAndZoom(new BMap.Point(118.454, 32.955), 6);
        map.enableScrollWheelZoom();
        var process = setInterval(function () {
            map.clearOverlays();
            aaa(map);
        }, 8000);
    }


    function aaa(map) {
        var r = $("#bookName").val();
        getemp();

        function getemp() {
            $.ajax({
                url: 'temp',
                data: {
                    id: r
                },
                type: 'POST',
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (timeee != 0) {
                        parent = document.getElementById("chart-2");
                        son = document.getElementById("grid");
                        parent.removeChild(son);
                        son = document.getElementById("graph-2");
                        parent.removeChild(son);
                        son = document.getElementById("poly-2");
                        parent.removeChild(son);
                    }
                    var length = Number(data.tempreture_1.length);

                    var stepX = 77 / 14;
                    // Snap.selectALL('#chart-2').remove();

                    var chart_2_y = [];
                    var i = 0;
                    for (i = 0; i < length; i++) {
                        chart_2_y.push(data.tempreture_1[i] * 2)
                    }
                    document.getElementById("tempo").innerHTML = "temperature: " + Number(data
                            .tempreture_1[
                                i - 1])
                        .toString() + "°C";
                    //TODO 更新温度数值到指定范围内的映射
                    function point(x, y) {
                        x: 0;
                        y: 0;
                    }
                    /* DRAW GRID */
                    function drawGrid(graph) {
                        var graph = Snap(graph);
                        // graph.selectAll().remove();
                        var g = graph.g();
                        g.attr('id', 'grid');
                        for (i = 0; i <= stepX + 2; i++) {
                            var horizontalLine = graph.path(
                                "M" + 0 + "," + stepX * i + " " +
                                "L" + 77 + "," + stepX * i);
                            horizontalLine.attr('class', 'horizontal');
                            g.add(horizontalLine);
                        };
                        for (i = 0; i <= 14; i++) {
                            var horizontalLine = graph.path(
                                "M" + stepX * i + "," + 38.7 + " " +
                                "L" + stepX * i + "," + 0)
                            horizontalLine.attr('class', 'vertical');
                            g.add(horizontalLine);
                        };
                    }
                    drawGrid('#chart-2');

                    function drawLineGraph(graph, points, container, id) {


                        var graph = Snap(graph);
                        // graph.remove();


                        /*END DRAW GRID*/

                        /* PARSE POINTS */
                        var myPoints = [];
                        var shadowPoints = [];

                        function parseData(points) {
                            for (i = 0; i < points.length; i++) {
                                var p = new point();
                                var pv = points[i] / 100 * 40;
                                p.x = 83.7 / points.length * i + 1;
                                p.y = 40 - pv;
                                if (p.x > 78) {
                                    p.x = 78;
                                }
                                myPoints.push(p);
                            }
                        }

                        var segments = [];

                        function createSegments(p_array) {
                            for (i = 0; i < p_array.length; i++) {
                                var seg = "L" + p_array[i].x + "," + p_array[i].y;
                                if (i === 0) {
                                    seg = "M" + p_array[i].x + "," + p_array[i].y;
                                }
                                segments.push(seg);
                            }
                        }

                        function joinLine(segments_array, id) {
                            var line = segments_array.join(" ");
                            // console.log(line);
                            var line = graph.path(line);
                            line.attr('id', 'graph-' + id);
                            var lineLength = line.getTotalLength();

                            line.attr({
                                'stroke-dasharray': lineLength,
                                'stroke-dashoffset': lineLength
                            });
                        }



                        function showValues() {
                            var val1 = $(graph).find('.h-value');
                            var val2 = $(graph).find('.percentage-value');
                            val1.addClass('visible');
                            val2.addClass('visible');
                        }

                        function drawPolygon(segments, id) {
                            var lastel = segments[segments.length - 1];
                            var polySeg = segments.slice();
                            polySeg.push([78, 38.4], [1, 38.4]);
                            // console.log('polyseg');
                            // console.log(polySeg);

                            var polyLine = polySeg.join(' ').toString();
                            var replacedString = polyLine.replace(/L/g, '').replace(/M/g, "");

                            // console.log(replacedString);

                            var poly = graph.polygon(replacedString);
                            // console.log(poly);

                            var clip = graph.rect(-80, 0, 80, 40);
                            // clip.paper.circle.mouseover({
                            //     function () {
                            //         console.log('sd');
                            //     }
                            // })



                            poly.attr({
                                'id': 'poly-' + id,
                                //'clipPath':'url(#clip)'
                                'clipPath': clip
                            });
                            // console.log(poly);

                            clip.animate({
                                transform: 't80,0'
                            }, 1300, mina.linear);
                        }
                        parseData(points);
                        console.log(myPoints);
                        createSegments(myPoints);
                        // calculatePercentage(points, container);
                        joinLine(segments, id);

                        drawPolygon(segments, id);
                        showValues();



                        /*$('#poly-'+id).attr('class','show');*/

                        /* function drawPolygon(segments,id){
                          var polySeg = segments;
                          polySeg.push([80,40],[0,40]);
                          var polyLine = segments.join(' ').toString();
                          var replacedString = polyLine.replace(/L/g,'').replace(/M/g,"");
                          var poly = graph.polygon(replacedString);
                          poly.attr('id','poly-'+id)
                        }
                        drawPolygon(segments,id);*/
                    }
                    // drawLineGraph('#chart-1', chart_1_y, '#graph-1-container', 2);
                    drawLineGraph('#chart-2', chart_2_y, '#graph-2-container', 2);
                }
            })
        }

        if (timeee == 0) {
            timeee += 1;
        }

        $.ajax({
            type: "get",
            url: "/search",
            data: {
                'id': r
            },
            dataType: "json",
            success: function (data) {
                var str = null;
                var tempreture = data.tempreture;
                var longitude = data.longitude;
                var latitude = data.latitude;
                var lock = data.lock;
                var time = data.time;
                for (var i = 0; i < tempreture.length; i++) {
                    var stra = '<tr><td>' + tempreture[i] +
                        '</td><td>' + longitude[i] +
                        '</td><td>' + latitude[i] +
                        '</td><td>' + lock[i] +
                        '</td><td>' + time[i] +
                        '</td></tr>';
                    str = str + stra;
                }
                $("#tt tr:gt(0)").remove();
                $("#tt").append(str);
                $("#tt tr:even").css("background-color", "grey");
            }
        })

        // 百度地图API功能

        var GZData = [];
        getData(r, map, GZData);

        function getData(r, map, GZData) {
            $.ajax({
                url: '/test',
                data: {
                    id: r
                },
                type: 'POST',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var length = data.longitude_1.length;

                    for (i = 0; i < length; i++) {
                        var element = [
                            [{
                                longitude: [],
                                latitude: []
                            }, {
                                longitude: [],
                                latitude: []
                            }]
                        ]
                        element[0][0].longitude = data.longitude_1[i];
                        element[0][0].latitude = data.latitude_1[i];
                        element[0][1].longitude = data.longitude_2[i];
                        element[0][1].latitude = data.latitude_2[i];
                        var pos1 = new BMap.Point(element[0][0].longitude, element[0][0].latitude),
                            pos2 = new BMap.Point(element[0][1].longitude, element[0][1].latitude);
                        var points = [pos1, pos2];

                        var curve = new BMap.Polyline(points, {
                            strokeColor: "blue",
                            strokeWeight: 3,
                            strokeOpacity: 0
                        }); //创建弧线对象
                        map.addOverlay(curve); //添加到地图中
                    }
                    var marker = new BMap.Marker(pos2); // 创建标注
                    map.addOverlay(marker); // 将标注添加到地图中
                    marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
                }
            })
        }


    }
</script>