<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="refresh" content="3;url={{ url_for('index') }}"> -->
    <title>疫苗运输服务平台</title>
    <!-- <link href="/static/css/bootstrap.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery-2.2.1.min.js"></script>
    <!-- <script src="/static/js/bootstrap.min.js"></script> -->
    <!-- <script src="/static/js/common.js"></script> -->
    <script src="/static/js/modernizr.js"></script>
    <!-- <script src='/static/js/jquery.js'></script> -->
    <!-- <script src="/static/js/dataTool.js"></script> -->
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=p348z9PLodkFiZlPPUm7TzQlUAylqueb"></script>
    <script type="text/javascript" src="//api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>
    <!-- <script src="/static/js/hunan.js"></script> -->




    <style>
        .t_title {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 2.5em;
            line-height: 80px;
            color: #fff;
        }

        #chart_map {
            cursor: pointer;
        }

        .t_show {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 2px;
            background: #2C58A6;
            padding: 2px 5px;
            color: #fff;
            cursor: pointer;
        }
    </style>
</head>

<body>

    <!--header-->
    <div class="header">
        <div class="bg_header">
            <div class="header_nav fl t_title">
                疫苗运输服务平台
            </div>
        </div>
    </div>

    <!--main-->
    <div class="data_content">
        <div class="data_time">
            温馨提示: 点击模块后跳转至详情页面。
        </div>
        <div class="data_main">
            <div class="main_left fl">
                <div class="left_1 t_btn6" style="cursor: pointer;">
                    <!--左上边框-->
                    <div class="t_line_box">
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                    </div>
                    <!--右上边框-->
                    <div class="t_line_box">
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                    </div>
                    <!--左下边框-->
                    <div class="t_line_box">
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                    </div>
                    <!--右下边框-->
                    <div class="t_line_box">
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>
                    <div class="main_title">
                        <img src="/static/img/t_1.png" alt="">
                        温度图!!!rua!!
                    </div>
                    <div id="chart_1" class="chart" style="width:100%;height: 280px;">
                        <div class="chart" id="graph-2-container">
                            <h2 class="title">tempreture</h2>
                            <div class="chart-svg">
                                <svg class="chart-line" id="chart-2" viewBox="0 0 80 40">
                                    <defs>
                                        <clipPath id="clip" x="0" y="0" width="80" height="40">
                                            <rect id="clip-rect" x="-80" y="0" width="77" height="38.7" />
                                        </clipPath>

                                        <linearGradient id="gradient-1">
                                            <stop offset="0" stop-color="#00d5bd" />
                                            <stop offset="100" stop-color="#24c1ed" />
                                        </linearGradient>

                                        <linearGradient id="gradient-2">
                                            <stop offset="0" stop-color="#954ce9" />
                                            <stop offset="0.3" stop-color="#954ce9" />
                                            <stop offset="0.6" stop-color="#24c1ed" />
                                            <stop offset="1" stop-color="#24c1ed" />
                                        </linearGradient>

                                        <linearGradient id="gradient-3" x1="0%" y1="0%" x2="0%" y2="100%">>
                                            <stop offset="0" stop-color="rgba(0, 213, 189, 1)" stop-opacity="0.07" />
                                            <stop offset="0.5" stop-color="rgba(0, 213, 189, 1)" stop-opacity="0.13" />
                                            <stop offset="1" stop-color="rgba(0, 213, 189, 1)" stop-opacity="0" />
                                        </linearGradient>


                                        <linearGradient id="gradient-4" x1="0%" y1="0%" x2="0%" y2="100%">>
                                            <stop offset="0" stop-color="rgba(149, 76, 233, 1)" stop-opacity="0.07" />
                                            <stop offset="0.5" stop-color="rgba(149, 76, 233, 1)" stop-opacity="0.13" />
                                            <stop offset="1" stop-color="rgba(149, 76, 233, 1)" stop-opacity="0" />
                                        </linearGradient>

                                    </defs>
                                </svg>
                            </div>
                            <div class="chart-values">
                                <p class="h-value"></p>
                                <p class="percentage-value"></p>
                                <p class="total-gain"></p>
                            </div>
                            <div class="triangle red"></div>
                        </div>
                    </div>
                </div>
                <div class="left_2" style="cursor: pointer;">
                    <!--左上边框-->
                    <div class="t_line_box">
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                    </div>
                    <!--右上边框-->
                    <div class="t_line_box">
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                    </div>
                    <!--左下边框-->
                    <div class="t_line_box">
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                    </div>
                    <!--右下边框-->
                    <div class="t_line_box">
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>
                    <div class="main_title">
                        <img src="/static/img/t_2.png" alt="">
                        查询!查tmd!!!!
                    </div>
                    <div id="chart_2" class="chart t_btn9" style="width:100%;height: 280px;">
                        <form action="javascript:search()" method="post" id="search" class="input_node">
                            id:<input type="text" name="bookName" id="bookName" value="" />
                            <input type="submit" style="cursor: pointer;" value="查询" />
                            <input type="hidden" name="pageindex" id="pageindex" value="1" />
                        </form>
                        <table id="tt" class="divForm">
                            <tr style="background-color:black">
                                <td>地点</td>
                                <td>温度</td>
                                <td>经度</td>
                                <td>温度</td>
                                <td>状态</td>
                                <td>时间</td>
                            </tr>

                        </table>

                    </div>

                </div>
            </div>
            <div class="main_center fl">
                <div class="center_text">
                    <!--左上边框-->
                    <div class="t_line_box">
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                    </div>
                    <!--右上边框-->
                    <div class="t_line_box">
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                    </div>
                    <!--左下边框-->
                    <div class="t_line_box">
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                    </div>
                    <!--右下边框-->
                    <div class="t_line_box">
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>
                    <div class="main_title">
                        <img src="/static/img/t_3.png" alt="">
                        疫苗线路图
                    </div>
                    <div style="width:100%;height:100%;border:1px solid gray" id="container"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center;">
        <p>更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
    </div>

    <script src='/static/js/snap.svg-min.js'></script>
    <script src="/static/js/index.js"></script>
</body>

</html>

<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("container");
    map.centerAndZoom(new BMap.Point(118.454, 32.955), 6);
    map.enableScrollWheelZoom();

    var GZData = [];

    $(document).ready(function () {
        getData();
    });
    $(document).ready(function () {
        searchdata();
    });

    function searchdata() {
        $.ajax({
            url: 'test',
            data: {},
            type: 'GET',
            async: false,
            dataType: 'json',
            success: function (data) {

            }
        })
    }

    function getData() {
        $.ajax({
            url: 'test',
            data: {},
            type: 'POST',
            async: false,
            dataType: 'json',
            success: function (data) {
                var length = data.name_1.length
                console.log(data)
                console.log(typeof length)

                for (i = 0; i < length; i++) {
                    var element = [
                        [{
                            //legname1:[],
                            name: [],
                            value: [],
                            longitude: [],
                            latitude: []
                        }, {
                            name: [],
                            value: [],
                            longitude: [],
                            latitude: []
                        }]
                    ]
                    element[0][0].name = data.name_1[i];
                    element[0][0].value = data.tempreture_1[i];
                    element[0][0].longitude = data.longitude_1[i];
                    element[0][0].latitude = data.latitude_1[i];
                    element[0][1].name = data.name_2[i];
                    element[0][1].value = data.tempreture_2[i];
                    element[0][1].longitude = data.longitude_2[i];
                    element[0][1].latitude = data.latitude_2[i];
                    var pos1 = new BMap.Point(element[0][0].longitude, element[0][0].latitude),
                        pos2 = new BMap.Point(element[0][1].longitude, element[0][1].latitude);
                    var points = [pos1, pos2];

                    var curve = new BMap.Polyline(points, {
                        strokeColor: "blue",
                        strokeWeight: 3,
                        strokeOpacity: 0
                    }); //创建弧线对象
                    map.addOverlay(curve); //添加到地图中
                }
                var marker = new BMap.Marker(pos2); // 创建标注
                map.addOverlay(marker); // 将标注添加到地图中
                marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
            }
        })
    }
</script>
<script>
    function search() {
        aaa();
    }

    function aaa() {
        var name = $("#bookName").val();
        var pageIndex = $("#pageindex").val();
        $.ajax({
            type: "get",
            url: "/search",
            data: {
                'id': id;
            },
            dataType: "json",
            success: function (data) {
                var str = null;
                var list = dat.infoList;
                for (var i = 0; i < list.length; i++) {
                    var book = list[i];
                    var borr;
                    if (book.borrowed == 0) {
                        borr = "未借阅";
                    } else if (book.borrowed == 1) {
                        borr = "已借阅";
                    }

                    var creationTime = $.format.date(book.creationTime, "yyyy-MM-dd"); //时间插件js使用

                    var stra = '<tr><td>' + book.bookCode +
                        '</td><td>' + book.bookTypeName +
                        '</td><td>' + book.bookName +
                        '</td><td>' + book.bookAuthor +
                        '</td><td>' + book.publishPress +
                        '</td><td>' + creationTime +
                        '</td><td>' + borr +
                        '</td><td><a href="#">查看</a>&nbsp;&nbsp;' +
                        '<a href="#">修改</a>&nbsp;&nbsp;' +
                        '<a href="#">删除</a>' +
                        '</td></tr>';
                    str = str + stra;
                }
                $("#tt tr:gt(0)").remove();
                $("#tt").append(str);
                $("#tt tr:even").css("background-color", "grey");
                $("#currentPageNo").val(dat.currentPageNo);
                $("#currentPageNo").html(dat.currentPageNo);
                $("#max").val(dat.totalPageCount);
                $("#max").html(dat.totalPageCount);
                $("#totalCount").val(dat.totalCount);
                $("#totalCount").html(dat.totalCount);
            }
        })
    }
</script>